### Maven ###
target/

### IntelliJ IDEA ###
.idea/
*.iml
out/

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/

### Mac OS ###
.DS_Store

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war

# JVM crash logs
hs_err_pid*
replay_pid*
